{% include "@osc-unzer/frontend/tpl/order/unzer_assets.html.twig" %}

<form id="payment-form-sepa">
    <br />
    <div id="sepa-IBAN" class="field">
        <!-- The IBAN field UI Element will be inserted here -->
    </div>
    <br />
    <div id="payment-sepa-confirm">
        <div class="sepaagreement" id="sepaagree_unzer">
            <input id="oscunzersepaagreement" type="checkbox" name="oscunzersepaagreement" value="0">
            <label for="oscunzersepaagreement">
                {% ifcontent ident "oscunzersepamandateconfirmation" set oCont %}
                    {{ oCont.oxcontents__oxcontent.value|raw }}
                {% endifcontent %}
            </label>
        </div>
    </div>

    <div class="field" id="error-holder" style="color: #9f3a38"> </div>

</form>

{% capture assign = "unzerSepaDirectJS" %}
{% if false %}<script>{% endif %}
    document.querySelector( '#orderConfirmAgbBottom' ).addEventListener('submit', function( event ) {
        if(!document.querySelector( '#orderConfirmAgbBottom' ).classList.contains("submitable")){
            event.preventDefault();
            document.querySelector( "#payment-form-sepa" ).requestSubmit();
        }
    });

    // Create an Unzer instance with your public key
    let unzerInstance = new unzer('{{ unzerpub }}', {locale: "{{ unzerLocale }}"});

    // Create a SEPA Direct Debit instance and render the form
    let SepaDirectDebit = unzerInstance.SepaDirectDebit();
    SepaDirectDebit.create('sepa-direct-debit', {
        containerId: 'sepa-IBAN'
    });

    // Handling payment form submission
    document.querySelector( "#payment-form-sepa" ).addEventListener('submit', function( event ) {
        event.preventDefault();
        // Creating a SEPA resource
        SepaDirectDebit.createResource()
            .then(function(result) {

                let hiddenInput = document.createElement('input');
                hiddenInput.setAttribute('type', 'hidden');
                hiddenInput.setAttribute('name', 'paymentData');
                hiddenInput.value = (JSON.stringify(result));
                document.querySelector('#orderConfirmAgbBottom').append(hiddenInput);

                let hiddenInput2 = document.createElement('input');
                hiddenInput2.setAttribute('type', 'hidden');
                hiddenInput2.setAttribute('name', 'sepaConfirmation');
                hiddenInput2.value = document.querySelector('#oscunzersepaagreement').checked ? 1 : 0;
                document.querySelector('#orderConfirmAgbBottom').append(hiddenInput2);

                document.querySelector( '#orderConfirmAgbBottom' ).classList.add("submitable");
                document.querySelector( "#orderConfirmAgbBottom" ).submit();
            })
            .catch(function(error) {
                document.querySelector('#error-holder').innerHTML = error.message;
                document.querySelector('html, body').animate({
                    scrollTop: document.querySelector("#orderPayment").getBoundingClientRect().top + window.scrollY - 150
                }, 350);
            });
    });
{% if false %}</script>{% endif %}
{% endcapture %}
{{ script({ add: unzerSepaDirectJS, dynamic: __oxid_include_dynamic }) }}
