{% include "@osc-unzer/frontend/tpl/order/unzer_assets.html.twig" %}

<form id="payment-form" class="unzerUI form" novalidate>
    <div id="unzer-ideal" class="field"></div>
    <div class="field" id="error-holder" style="color: #9f3a38"> </div>
</form>

<script>
{% capture assign = "unzerIDealJS" %}

    document.getElementById("orderConfirmAgbBottom").submit(function( event ) {
        if(!document.getElementById("orderConfirmAgbBottom").classList.contains("submitable")){
            event.preventDefault();
            document.getElementById("payment-form").submit();
        }
    });

    // Create an Unzer instance with your public key
    let unzerInstance = new unzer('{{ unzerpub }}');

    // Create an iDeal instance and render the iDeal form
    let IDeal = unzerInstance.Ideal();
    IDeal.create('ideal', {
        containerId: 'unzer-ideal'
    });


    document.getElementById("payment-form").submit(function( event ) {
    event.preventDefault();

    IDeal.createResource().then(function(result) {
        let hiddenInput = $(document.createElement('input'))
            .attr('type', 'hidden')
            .attr('name', 'paymentData')
            .val(JSON.stringify(result));
        document.getElementById("orderConfirmAgbBottom").find(".hidden").append(hiddenInput);

        document.getElementById("orderConfirmAgbBottom").classList.add("submitable");
        document.getElementById("orderConfirmAgbBottom").submit();
    }).catch(function(error) {
        document.getElementById("error-holder").innerHTML = error.message
        $('html, body').animate({
            scrollTop: document.getElementById("orderPayment").offset().top - 150 }, 350);
        })
    });
{% endcapture %}
</script>
{{ script({ add: unzerIDealJS, dynamic: __oxid_include_dynamic }) }}
