{% include "@osc-unzer/frontend/tpl/order/unzer_assets.html.twig" %}

<form id="payment-form" class="unzerUI form" novalidate>
    <div id="unzer-eps" class="field"></div>
    <div class="field" id="error-holder" style="color: #9f3a38"></div>
</form>

<script>
{% capture assign = "unzerEPSJS" %}
    // Create an Unzer instance with your public key
    let unzerInstance = new unzer('{{ unzerpub }}', {locale: "{{ unzerLocale }}"});

    // Create an EPS instance and render the EPS form
    let EPS = unzerInstance.EPS();
    EPS.create('eps', {
        containerId: 'unzer-eps'
    });

    document.querySelector( '#orderConfirmAgbBottom' ).addEventListener('submit', function( event ) {
        if(!document.querySelector( '#orderConfirmAgbBottom' ).classList.contains("submitable")){
            event.preventDefault();
            document.querySelector( "#payment-form" ).requestSubmit();
        }
    });

    // Handling payment form submission
    document.querySelector( "#payment-form" ).addEventListener('submit', function( event ) {
        event.preventDefault();
        // Creating a EPS resource
        EPS.createResource()
            .then(function(result) {
                let hiddenInput = document.createElement('input');
                hiddenInput.setAttribute('type', 'hidden');
                hiddenInput.setAttribute('name', 'paymentData');
                hiddenInput.value = JSON.stringify(result);
                document.querySelector('#orderConfirmAgbBottom').append(hiddenInput);

                document.querySelector( '#orderConfirmAgbBottom' ).classList.add("submitable");
                document.querySelector( "#orderConfirmAgbBottom" ).submit();
            })
            .catch(function(error) {
                document.querySelector('#error-holder').innerHTML = error.message;
                document.querySelector('html, body').animate({
                    scrollTop: document.querySelector("#orderPayment").getBoundingClientRect().top + window.scrollY - 150
                }, 350);
            })
    });
{% endcapture %}
</script>
{{ script({ add: unzerEPSJS, dynamic: __oxid_include_dynamic }) }}
