{% include "@osc-unzer/frontend/tpl/order/unzer_assets.html.twig" %}

<form id="payment-form" class="unzerUI form" novalidate>
    <div id="unzer-ideal" class="field"></div>
    <div class="field" id="error-holder" style="color: #9f3a38"> </div>
</form>

<script>
{% capture assign = "unzerIDealJS" %}

    document.querySelector( '#orderConfirmAgbBottom' ).addEventListener('submit', function( event ) {
        if(!document.querySelector( '#orderConfirmAgbBottom' ).classList.contains("submitable")){
            event.preventDefault();
            document.querySelector( "#payment-form" ).requestSubmit();
        }
    });

    // Create an Unzer instance with your public key
    let unzerInstance = new unzer('{{ unzerpub }}');

    // Create an iDeal instance and render the iDeal form
    let IDeal = unzerInstance.Ideal();
    IDeal.create('ideal', {
        containerId: 'unzer-ideal'
    });


    document.getElementById("payment-form").addEventListener('submit', function( event ) {
        event.preventDefault();

        IDeal.createResource().then(function (result) {
            let hiddenInput = document.createElement('input');
            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'paymentData');
            hiddenInput.value = JSON.stringify(result);
            document.getElementById("orderConfirmAgbBottom").append(hiddenInput);

            document.getElementById("orderConfirmAgbBottom").classList.add("submitable");
            document.getElementById("orderConfirmAgbBottom").submit();
        }).catch(function (error) {
            document.querySelector('#error-holder').innerHTML = error.message;
            document.querySelector('html, body').animate({
                scrollTop: document.querySelector("#orderPayment").getBoundingClientRect().top + window.scrollY - 150
            }, 350);
        });
    });
{% endcapture %}
</script>
{{ script({ add: unzerIDealJS, dynamic: __oxid_include_dynamic }) }}
