{% include "@osc-unzer/frontend/tpl/order/unzer_assets.html.twig" %}

<form id="payment-form-card" class="unzerUI form" novalidate>
    <div class="field">
        <div id="card-element-id-number" class="unzerInput">
            <!-- Card number UI Element will be inserted here. -->
        </div>
    </div>
    <div class="two fields">
        <div class="field ten wide">
            <div id="card-element-id-expiry" class="unzerInput">
                <!-- Card expiry date UI Element will be inserted here. -->
            </div>
        </div>
        <div class="field six wide">
            <div id="card-element-id-cvc" class="unzerInput">
                <!-- Card CVC UI Element will be inserted here. -->
            </div>
        </div>
    </div>
</form>
<style>
    .unzerUI.form .field.error .compact.error.message:not(:empty), .unzerUI.form .fields.error .field .compact.error.message:not(:empty){
        line-height: 100%;
    }
</style>

{% if false %}<script>{% endif %}
{% capture assign = "unzerCardJS" %}
    function executeUnzerPayment(event){
        event.stopPropagation();
        document.querySelector( "#payment-form-card" ).requestSubmit();
    }

    document.querySelector( '#orderConfirmAgbBottom' ).addEventListener('submit', function( event ) {
        if(!document.querySelector( '#orderConfirmAgbBottom' ).classList.contains("submitable")){
            event.preventDefault();
            document.querySelector( "#payment-form-card" ).requestSubmit();
        }
    });

    // Create an Unzer instance with your public key
    let unzerInstance = new unzer('{{ unzerpub }}', {locale: "{{ unzerLocale }}"});

    // Create a Card instance and render the input fields
    let Card = unzerInstance.Card();
    Card.create('number', {
        containerId: 'card-element-id-number',
        onlyIframe: false
    });
    Card.create('expiry', {
        containerId: 'card-element-id-expiry',
        onlyIframe: false
    });
    Card.create('cvc', {
        containerId: 'card-element-id-cvc',
        onlyIframe: false
    });

    document.querySelector( "#payment-form-card" ).addEventListener('submit', function( event ) {
        event.preventDefault();
        Card.createResource()
            .then(function(result) {
                let hiddenInput = document.createElement('input');
                hiddenInput.setAttribute('type', 'hidden');
                hiddenInput.setAttribute('name', 'paymentData');
                hiddenInput.value = JSON.stringify(result);
                document.querySelector('#orderConfirmAgbBottom').append(hiddenInput);

                document.querySelector('#orderConfirmAgbBottom' ).classList.add("submitable");
                document.querySelector("#orderConfirmAgbBottom" ).submit();
            })
            .catch(function(error) {
                document.querySelector('html, body').animate({
                    scrollTop: document.querySelector("#orderPayment").getBoundingClientRect().top + window.scrollY  - 150
                }, 350);

                errorField = document.querySelector("#card-element-id-number");
                errorField.querySelectorAll("div").item(0).classList.add('error');
                errorEl = errorField.querySelector("div.error.message");
                errorEl.setAttribute("style", "display: inline-block");
                errorEl.innerHTML = error.message;
            })
    });

{% endcapture %}
{% if false %}</script>{% endif %}
{{ script({ add: unzerCardJS, dynamic: __oxid_include_dynamic }) }}
